<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id = "ds" class = "com.tcs.dao.Datasource">
		
		<property name="username" value = "Admin"></property>
		
		<property name="password" value = "Root"></property>
		
		<property name="url" value = "jdbc:mysql://ip:port=8080"></property>
	</bean>
	<bean id = "dao" class = "com.tcs.dao.Customerdao">
		
		<property name = "datasource" ref = "ds"></property>
	</bean>

</beans>